---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Blog de Sistemas de Información</h1>
            <p>
				Bienvenidos al blog del proyecto de la materia <strong>Sistemas de Información</strong>.
				Este espacio reúne el trabajo de <strong>Kevin Zambrano</strong>, <strong>Jeann Rodríguez</strong>,
				<strong>Frankly Bautista</strong> y <strong>Leonardo Lobo</strong>.
            </p>
            <p>
				Aquí se publican las tareas, mapas conceptuales, análisis y demás materiales desarrollados por el equipo
				durante el semestre.
			</p>
		</main>
		<Footer />
	</body>
</html>
